{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2019",
    "paths": {
      "@root/*": ["./src/*"],
      "@database/*": ["./src/database/*"],
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
